<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.polymarket.factory.scan</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/barteks/workai/projects/polymarket-factory/run_scan.sh</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/barteks/workai/projects/polymarket-factory</string>

    <key>StartCalendarInterval</key>
    <array>
        <dict><key>Hour</key><integer>1</integer><key>Minute</key><integer>30</integer></dict>
        <dict><key>Hour</key><integer>3</integer><key>Minute</key><integer>30</integer></dict>
        <dict><key>Hour</key><integer>5</integer><key>Minute</key><integer>30</integer></dict>
        <dict><key>Hour</key><integer>7</integer><key>Minute</key><integer>30</integer></dict>
        <dict><key>Hour</key><integer>9</integer><key>Minute</key><integer>30</integer></dict>
        <dict><key>Hour</key><integer>11</integer><key>Minute</key><integer>30</integer></dict>
        <dict><key>Hour</key><integer>13</integer><key>Minute</key><integer>30</integer></dict>
        <dict><key>Hour</key><integer>15</integer><key>Minute</key><integer>30</integer></dict>
        <dict><key>Hour</key><integer>17</integer><key>Minute</key><integer>30</integer></dict>
        <dict><key>Hour</key><integer>19</integer><key>Minute</key><integer>30</integer></dict>
        <dict><key>Hour</key><integer>21</integer><key>Minute</key><integer>30</integer></dict>
        <dict><key>Hour</key><integer>23</integer><key>Minute</key><integer>30</integer></dict>
    </array>

    <key>StandardOutPath</key>
    <string>/Users/barteks/workai/projects/polymarket-factory/factory_scan.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/barteks/workai/projects/polymarket-factory/factory_scan.log</string>

    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
